/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}

html {
    font-size:16px; /* Adjust for REM */
	line-height: 1;
    font-family: brandon-grotesque, sans-serif;
    background-color: #F5F5F5;
}

/********** Header **********/

header {
    padding: 2rem;
    border-bottom: 2px solid #D0D0D0;
    overflow: hidden;
}

header h1 {
    float: left;
}

/********** Nav **********/

.topnav {
    overflow: hidden;
    background-color: #181818;
    position: relative;
}

.topnav img {
    float: left;
}

.topnav #myLinks {
    display: none;
    float: right;
    text-align: right;
}

.topnav a {
    color: #F5F5F5;
    padding: 1rem 0;
    text-decoration: none;
    display: block;
}

.topnav a.icon {
    display: block;
    float: right;
}

.topnav a:hover {
    color: #FE9920;
}

.active {
    overflow: hidden;
    color: white;
}

/********** Page content **********/

* {
    box-sizing: border-box;
}

.myvideo {
    position: relative;
    top: 0;
    bottom: 0px;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

.myvideo video {
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.videobutton {
    background-color: #FE9920;
    text-align: center;
}

.videobutton button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background-color: #FE9920;
    color: #F5F5F5;
    font-size: 1rem;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    line-height: 2rem;
    cursor: pointer;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    float: left;
    padding: 2rem;
}

.col-2 {
    float: left;
    padding: 0 2rem 2rem 2rem; 
}

.section:first-child {
    padding-bottom: 2rem;
}

.section {
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 2rem;
    border-bottom: 1px solid #D0D0D0;
}

.section-title {
    display: inline-block;
}

.section-price {
    float: right;
}

.section img {
    float: left;
    margin: 0 2rem 0 0;
}

.section img:hover {
    border: 4px solid #FE9920;
    border-radius: 8px;
}

.section:last-child {
    padding-bottom: 2rem;
    margin-bottom: 10rem;
    border-bottom-style: none;
}

.section-left {
    float: left;
}

.section-right {
    float: right;
}

.section button {
    color: #FFFFFF;
    background-color: #FE9920;
    width: 100%;
    border: none;
    
    font-size: 1rem;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    line-height: 2rem;
}

.section button:hover {
    background-color: #0C4767;
}

.size {
    float: left;
    margin: 0 2rem 0 0;
    height: 74px;
    width: 74px;
    border: 1px solid #D0D0D0;
    text-align: center;
    line-height: 4.5rem;
}

/********** Footer **********/

footer {
    color: #F5F5F5;
    background-color: #0C4767;
    text-align: center;
    padding: 4rem ;
    border-top: 2px solid #D0D0D0;
    overflow: hidden;
}

.footer-section:last-child {
    display: none;
}

.footer-section:not(:last-child) {
    padding-bottom: 2rem;
}

.footer-section a {
    color: #FE9920;
    text-decoration: none;
}

.footer-section a:hover {
    color: #F5F5F5;
}

/********** Text styles **********/

a {
    font-size: 1rem;
}

p {
    font-weight: 300;
    line-height: 1.5rem;
}

h1 {
    font-weight: 900;
    font-size: 1.25rem;
    text-align: center;
}

h2 {
    font-weight: 700;
    padding-bottom: 1rem;
}

h3 {
    font-weight: 500;
    line-height: 1.5rem;
}

h4 {
    font-weight: 300;
    line-height: 1.5rem;
    padding: 2rem;
}

/********** For mobile phones: **********/

[class*="col-"] {
    width: 100%;
}

/********** For desktop: **********/

@media only screen and (min-width: 768px) {

    .col-1 {
        width: 50%;
    }
    
    .col-2 {
        width: 50%;
        padding-top: 2rem;
    }

    .topnav #myLinks {
        float: right;
        display: flex;
    }

    .topnav .links {
        padding-left: 3rem;
    }
    
    .topnav a.icon {
        display: none;
    }
    
    .active {
        float: left;
    }
    
    .videobutton {
        display: none;
    }
    
    footer {
        padding-bottom: 0;
    }
    
    .footer-section:not(:last-child)  {
        float: left;
        padding: 8rem 3rem 2rem 0;
        text-align: left;
    }
    
    .footer-section:last-child {
        float: right;
        display: flex;
        padding-top: 11rem;
    }

    .terms {
        padding-left: 3rem;
    }
}
